.cabecalho  {
    padding: 32px;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.hero {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #17E4B9 0%, #091D24 100%);
}

.hero img {
    max-width: 90%;
}