.lista-tarefas-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-tarefas-itens h3 {
    font-size: 22px;
    line-height: 125%;
    font-family: "Orbitron", sans-serif;;
    padding: 12px 0;
}

.msgOculta {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.msgOculta img {
  max-width: 200px;
  margin-bottom: 20px;
  background-color: var(--branco);
}

.msgOculta p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
}

.ul-tarefas {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.li-tarefa{
  position: relative;
  padding: 16px;
  background: var(--background-form-tarefa);
  max-width: calc(33.333% - 24px);
  min-width: 384px; 
  min-height: 6.25rem; 
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 20px;
}

.tarefa, .prioridade {
  margin-left: 20px; 
  color: var(--branco);
  font-family: "Roboto Mono";
  font-style: normal;
  line-height: normal;
  margin-bottom: 16px; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.tarefa {
  font-size: 22px;
  font-weight: 700;
}

.tarefa-escrita {
  font-size: 22px;
  color: var(--branco);
  display: inline;
}

.prioridade {
  font-size: 20px;
  font-weight: 600;
}

.prioridade-alta {
    color: red;
}

.prioridade-baixa{
    color: #17d9b1;
}

.icones {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.botao-editar, .botao-excluir {
  background: var(--branco);
  border: none;
  cursor: pointer;
  padding: 8px;
  margin-left: 8px;
}

.botao-editar img, .botao-excluir img {
  width: 20px;
  height: 20px;
}